<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  IgnorableNamespaces="uap uap5 uap10 rescap desktop com">

	<Identity
	  Name="2cd7569f-a8e2-4390-93e4-753b52d8432b"
	  Publisher="CN=Peter"
	  Version="1.0.0.0" />

	<Properties>
		<DisplayName>Package</DisplayName>
		<PublisherDisplayName>Peter</PublisherDisplayName>
		<Logo>Images\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.19041.0" MaxVersionTested="10.0.19041.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.19041.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="UWPMain.exe"
		  EntryPoint="Windows.FullTrustApplication"
		  uap10:TrustLevel="mediumIL"
		  uap10:RuntimeBehavior="packagedClassicApp">
			<uap:VisualElements
			  DisplayName="Package"
			  Description="Package"
			  BackgroundColor="transparent"
			  Square150x150Logo="Images\Square150x150Logo.png"
			  Square44x44Logo="Images\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
				<uap:SplashScreen Image="Images\SplashScreen.png" />
			</uap:VisualElements>

			<Extensions>
				<com:Extension Category="windows.comServer">
					<com:ComServer>
						<com:ExeServer
							Arguments="-srv"
							Executable="ConsoleMain.exe"
							LaunchAndActivationPermission="O:SYG:SYD:(A;;11;;;WD)(A;;11;;;RC)(A;;11;;;AC)(A;;11;;;AN)(A;;11;;;S-1-15-2-2713733867-3965126987-1241917971-1200521022-771755731-414354104-1137487667)S:P(ML;;NX;;;S-1-16-0)">
							<com:Class Id="853730F3-09AC-47D6-86D2-C2BACDBB948E" />
						</com:ExeServer>
					</com:ComServer>
				</com:Extension>
			</Extensions>

		</Application>
	</Applications>

	<Capabilities>
		<Capability Name="internetClient" />
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>
